# === FRONTEND ===
VITE_API_BASE_URL=http://localhost/verb/

# === BACKEND ===
CORS_ORIGINS=http://localhost:9000,http://localhost,http://your-production-domain.com

POSTGRES_DB=verbalyst_db
POSTGRES_USER=verbalyst_user
POSTGRES_PASSWORD=your_password_here
POSTGRES_HOST=db
POSTGRES_PORT=5432

DATABASE_URL=postgresql+psycopg2://verbalyst_user:your_password_here@db:5432/verbalyst_db

# === NGINX ===
APP_ENV=dev
