.venv
models/word2vec_skip_100.txt
models/word2vec_skip_100.kv
models/word2vec_skip_100.kv.vectors.npy
models/word2vec_filtrado.kv
models/word2vec_filtrado.vectors.npy
__pycache__/
/games/
models/br-sa.txt